<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8;" />
    <title>Flight: Twitter's Mobile Developer Conference</title>

    <!--CSS-->
    <link rel="stylesheet" href="https://www.twitterflight.com/css/reset.css" type="text/css" />
    <link rel="stylesheet" href="https://www.twitterflight.com/css/fonts.css" type="text/css" />
    <link rel="stylesheet" href="https://www.twitterflight.com/css/style.css" type="text/css" />
    <link rel="stylesheet" href="https://www.twitterflight.com/js/scroll/jquery.fullPage.css" type="text/css" />
    <link rel="icon" href="https://www.twitterflight.com/img/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="https://www.twitterflight.com/img/favicon.ico" type="image/x-icon" />

    <!--JS-->
    <script type="text/javascript" src="https://www.twitterflight.com/js/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="https://www.twitterflight.com/js/jquery-ui-1.10.4.js"></script>
    <script type="text/javascript" src="https://www.twitterflight.com/js/scroll/jquery.fullPage.min.js"></script>
    <script type="text/javascript" src="https://www.twitterflight.com/js/scroll/vendors/jquery.slimscroll.min.js"></script>
    <script type="text/javascript" src="https://www.twitterflight.com/js/functions.js"></script>
    <script type="text/javascript" src="https://www.twitterflight.com/js/prefixfree.min.js"></script>

  </head>
  <body>

      <div style="width:100%; overflow:hidden;">
        <div id="fullpage">

        <div class="section" id="section1">
          <div class="sky">
                <div class="clouds_one"></div>
                <div class="clouds_two"></div>
            </div>
          <div class="main_panel">
            <img src="https://www.twitterflight.com/img/logo.png" alt="Twitter Flight" class="logo">

            <h1 class="main_title">Twitter&rsquo;s <img class="mobile_text" src="https://www.twitterflight.com/img/mobile_text.png" alt="Mobile Developers" /> developer conference</h1>

            <a href="https://goo.gl/maps/gM5P3" target="_BLANK">
            <h2 class="main_subtitle">Wednesday, October 22nd, 2014</h2>
            <p class="place">Bill Graham Civic Auditorium</p>
            <p class="place">99 Grove St, San Francisco</p></a>
            <!-- <p class="time"></p> -->

          </div>
            <div class="center_absolute_position">
            <a class="to_2" href="#" id="to_2"></a>
          </div>
        </div><!-- #section1 -->

        <div class="section" id="section2">
          <div class="sky">
                <div class="clouds_two"></div>
                <div class="clouds_one"></div>
            </div>
          <div class="main_panel">
            <p class="title" >
              the <span>experience</span>
            </p>
            <p class="p2">Flight is a gathering built by developers, for developers. You&rsquo;ll feel right at home if you live,
            breathe and occasionally dream in Java, Objective-C, or Swift. Following the morning keynote, you&rsquo;ll dive into
            a series of technical sessions and cap off the day with a great happy hour where you can meet and mingle
            with Twitter&rsquo;s engineering team.</p>

            <div class="block_container">
              <div class="block attire">
                <p class="subtitle">9am - Doors Open</p>

                <p class="subtitle">10am - Keynote</p>
                <p>
                  <a href="https://twitter.com/dickc" target="_blank">Dick Costolo</a>, CEO
                </p>
                <span>Join Twitter CEO Dick Costolo and key team members as they unveil products to help mobile developers build the best apps.</span>


                <br>
                <br>
                <p class="subtitle">11am - 5pm<br>Technical Sessions</p>
                <p>Secret Session #1</p>
                <span>Be the <u>first</u> to hear about new mobile development features directly from our engineers.</span>

                <br>
                <br>
                <p>Secret Session #2</p>
                <span>Be the <u>first</u> to hear about new mobile development features directly from our engineers.</span>

              </div><!-- attire -->

              <div class="block attire">
                <p>
                  Build Better Apps with Crashlytics
                  <br>
                  <em>Jason St. Pierre & Brian Swift, Product Managers, Crashlytics</em>
                </p>
                <span>Crashlytics helps you build high quality apps. Keep your users happy and ship crash-free apps.</span>

                <br>
                <br>

                <p>
                  Driving App Downloads & Growth
                  <br>
                  <em>Kelton Lynn, Product Manager, Mobile App Promotion</em>
                </p>
                <span>There are millions of apps in the app stores. Learn how to get noticed and drive downloads.</span>

                <br>
                <br>

                <p>
                  Monetizing Your Apps with MoPub
                  <br>
                  <em>Boris Logvinskiy, Product Manager, MoPub & John Egan, Business Development, MoPub</em>
                </p>
                <span>Turn your app into a great business. MoPub is a powerful platform that helps developers monetize their ad-supported apps more effectively.</span>

              </div><!-- attire -->

              <div class="block after_party">
                <div class="glass_container">
                  <img src="https://www.twitterflight.com/img/glass.png" alt="After Party" />
                </div>
                <p class="subtitle">Meet & Mingle</p>
                <p>Product Pods and Lightning Theatre</p>
                <span>
                  Beginning at lunch and all afternoon, visit our <b>Product Pods</b> to meet our engineers. Drop by the <b>Lightning Theatre</b> to hear shorter talks about Twitter data, Twitter&rsquo;s open source initiatives, and scalability tips from Twitter&rsquo;s engineers.
                </span>

                <br>
                <br>

                <p>Happy Hour</p>
                <span>
                  Celebrate the day and mingle with the Twitter team and your peers over food, drinks, games and music. <em>Please note: You must be 21+ and wearing our credentials to drink alcohol at this party.</em>
                </span>
              </div><!-- after_party -->

              <div class="clear"></div>
            </div><!-- block_container -->
            <p class="follow">Follow <a href="https://twitter.com/flight" target="_blank">@Flight</a> and <a href="https://twitter.com/TwitterDev" target="_blank">@TwitterDev</a> for updates before, during and after Twitter Flight.</p>
          </div><!-- main_panel -->
        </div><!-- #section2 -->

        <div class="section" id="section3">
          <div class="position_center_cont">
            <div class="star_container">
              <img src="https://www.twitterflight.com/img/star_block_1.png" class="star_block block_1" alt="" />
              <img src="https://www.twitterflight.com/img/star_block_2.png" class="star_block block_2" alt="" />
              <img src="https://www.twitterflight.com/img/star_block_3.png" class="star_block block_3" alt="" />
              <img src="https://www.twitterflight.com/img/star_block_4.png" class="star_block block_4" alt="" />
            </div>
          </div><!-- position_center_cont -->
          <div class="main_panel">
            <p class="title">
              getting <span>there</span>
            </p>
            <div class="block_container">
                <div class="block public_transit">
                  <img src="https://www.twitterflight.com/img/train.png" alt="Public Transportation" />
                  <p class="subtitle">Public Transportation</p>
                  <p>
                    Bill Graham Civic Auditorium is accessible via BART and Muni Transit (Civic Center station).
                    The <a href="http://www.caltrain.com/stations/sanfranciscostation.html" target="_BLANK">San Francisco Caltrain station</a>
                    is a 7-minute ride away.
                  </p>
                  <img src="https://www.twitterflight.com/img/bike.png" alt="Bike Parking" />
                  <p class="subtitle">Bike Parking</p>
                  <p>
                    Secure bike parking will be available at Bill Graham Civic Auditorium
                    for all attendees.
                  </p>
                  <img src="https://www.twitterflight.com/img/car.png" alt="Parking" />
                  <p class="subtitle">Parking</p>
                  <p>
                    The <a href="http://www.sfmta.com/getting-around/parking/parking-garages/civic-center-garage" target="_blank">Civic Center Plaza Garage</a> is located at 355 McAllister Street. It&rsquo;s open from 6am-12am. A full day rate is $27.00.
                  </p>
                </div>

              <div class="block airport">
                <div class="block_height">
                  <img src="https://www.twitterflight.com/img/airport.png" alt="Airport" />
                  <p class="subtitle">Airport</p>
                  <p>All three major Bay Area airports offer international service.</p>
                  <a href="http://www.flysfo.com/" target="_blank"><img src="https://www.twitterflight.com/img/san_fran_airport.png" alt="San Francisco International Airport (SFO)"  class="sfa"/></a>
                  <p class="image"><span>San Francisco International Airport (SFO)</span> 25-45 minute drive <br/> San Francisco, CA </p>
                  <a href="http://www.oaklandairport.com/" target="_blank"><img src="https://www.twitterflight.com/img/oak.png" alt="Oakland International Airport (OAK)"  class="oak"/></a>
                  <p class="image"><span>Oakland International Airport (OAK)</span>25-45 minute drive <br/> Oakland, CA - East Bay</p>
                  <a href="http://www.flysanjose.com/fl/" target="_blank"><img src="https://www.twitterflight.com/img/san_jose.png" alt="San Jose International Airport (SJC)"  class="sjc"/> </a>
                  <p class="image"><span>San Jose International Airport (SJC)</span>60-75 minute drive <br/> San Jose, CA - South Bay</p>
                </div>
                <div class="clear"></div>
              </div>
              <div class="block hotels">
                <div class="block_height">
                  <img src="https://www.twitterflight.com/img/hotels.png" alt="Hotels" />
                  <p class="subtitle">Hotels</p>
                  <p>We have reserved room blocks at:</p>

                  <img src="https://www.twitterflight.com/img/grand_hyatt.png" alt="Grand Hyatt" class="grand_hyatt"/>
                  <a href="https://aws.passkey.com/g/29724122" target="_blank" class="reserve_here">RESERVE HERE > </a>

                  <img src="https://www.twitterflight.com/img/hilton.png" alt="Hilton"  class="hilton"/>
                  <a href="http://www.hilton.com/en/hi/groups/personalized/S/SFOFDHF-TWT-20141021/index.jhtml?WT.mc_id=POG" target="_blank" class="reserve_here">RESERVE HERE > </a>

                  <img src="https://www.twitterflight.com/img/hotel_nikko.png" alt="Hotel Nikko San Francisco" class="nikko"/>
                  <a href="https://resweb.passkey.com/Resweb.do?mode=welcome_ei_new&eventID=11764343" target="_blank" class="reserve_here">RESERVE HERE > </a>

                  <img src="https://www.twitterflight.com/img/hyatt.png" alt="Hyatt Regency" class="hyatt"/>
                  <a href="https://aws.passkey.com/event/11795418/owner/2586/home" target="_blank" class="reserve_here">RESERVE HERE > </a>
                </div>
                <div class="clear"></div>
              </div>
              <div class="clear"></div>
              <a href="https://goo.gl/maps/gM5P3" target="_BLANK" class="square">VIEW MAP &nbsp; ></a>

            </div><!-- block_container -->
          </div><!-- main_panel -->
        </div><!-- #section3 -->

        <div class="section" id="section4">
          <div class="position_center_cont">
            <div class="star_container">
              <img src="https://www.twitterflight.com/img/star_block_1.png" class="star_block block_1" alt="" />
              <img src="https://www.twitterflight.com/img/star_block_2.png" class="star_block block_2" alt="" />
              <img src="https://www.twitterflight.com/img/star_block_3.png" class="star_block block_3" alt="" />
              <img src="https://www.twitterflight.com/img/star_block_4.png" class="star_block block_4" alt="" />
            </div>
          </div>
          <div class="main_panel">
            <div class="sky">
                  <div class="clouds_one_night"></div>
                   <div class="clouds_two_night"></div>
              </div>
            <img src="https://www.twitterflight.com/img/logo_footer.png" alt="Flight" id="bottom_1"/>
            <p class="main" id="bottom_2">We&rsquo;re excited to have you join us at Twitter Flight.</p>
            <p class="smaller" id="bottom_3">The Twitter Flight registration fee is $140.</p>



            <a class="apply" href="?fuseaction=reg.Apply" target="_BLANK" id="bottom_4">

                Add Me to the Waitlist
              &nbsp; ></a>
            <span class="conditions" id="bottom_5"></span>           <p class="questions" id="bottom_6">
              Questions? Email <a href="mailto:flight@twitter.com">flight@twitter.com</a> with any questions
            </p>
            <p class="press" id="bottom_7">
              Media: We have a very limited number of press passes. If you have questions, email us at  <a href="mailto:flightpress@twitter.com">flightpress@twitter.com</a>.
            </p>
          </div><!-- main_panel -->
        </div><!-- #section4 -->
      </div>  <!-- #fullpage -->
    </div>
</body>
</html>


<!--
<div class="container">
<div class="row" style="margin-top: 200px;">
<h3>The open marketplace always innovates faster than any single corporation</h3>
<h1>What are you doing to keep up?</h1>
<a href="http://rocket-space.com/" style="color: white;"><button type="button" class="btn btn-primary btn-lg" style="height: 60px; box-shadow: 0px 0px 3px rgba(0,0,0,1); background: #1682FA; border: none; margin-bottom: 5px;">GET IN TOUCH <i class="fa fa-rocket"></i></button></a>
</div>
</div>
-- >