  {% extends 'base.html' %}

   {% block content %}
        <div class="col-sm-6 col-sm-offset-3 blog-post">
            <article>
                <header>
                    <h1> {{post.title}} </h1>
                    <p><time datetime="{{post.created|date:"c"}}">{{post.created|date}}</time></p>
                </header>
                <p class="description">
                    {{post.description}}
                </p>
                {{post.content|safe}}
            </article>
        </div>
    {% endblock %}